.container_log {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form_log {
    margin: 25px;
    text-align: center;
}

.box{
    width: 450px;
    line-height: 20px;
}

.input_log {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #C6C6C6;
    margin: 5px;
}

a {
    color: #a9a9a9;
    text-decoration:underline;
}

a:hover{
    color: #8f8f8f;
    text-decoration:underline;
    cursor: default;
}

.text-error {
    color: red;
    font-size: 15px;
}

.btn {
    width: 300px;
}