<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <a class="item-boxs">
            <img src="" alt="">
            <p></p>
        </a>
        <div class="item-boxs">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="item-boxs">
            <img src="" alt="">
            <p></p>
        </div>
        <div class="item-boxs">
            <img src="" alt="">
            <p></p>
        </div>
    </div>
</div>