img {
    width: 100%;
}

.item-boxs:hover {
    cursor: pointer;
}

.gird-display {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

a {
    text-decoration: none;
    color: #333;
}