nav {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: #fff;
}

.imgnav {
  cursor: pointer;
}

i {
  cursor: pointer;
}

i:hover {
  background-color: antiquewhite;
  border-radius: 50%;
}

.itembox {
  width: 37em;
  height: 18em;
  border-bottom: 1px solid #8c8c8c;
}

.butsubmit {
  width: 350px;
  height: 50px;
  border-radius: 30px;
  background-color: #151515;
  color: #fff;
  text-align: center;
  font-size: 22px;
  padding-top: 7px;
}


