<nav class="px-5">
  <img src="https://cdn.discordapp.com/attachments/962290283251400764/1042901600143945758/pandra.png" width="220px" routerLink="/home">
  <div class="d-flex align-items-center justify-content-between" style="width: 100%;">
    <div class="m-5">
      <a routerLink="/dayall" class="me-5 text-black h3"><strong>วันเทศกาล</strong></a>
      <a routerLink="/braceletall" class="me-5 text-black h3"><strong>กำไล</strong></a>
      <a routerLink="/neckall" class="me-5 text-black h3"><strong>สร้อยคอ</strong></a>
      <a routerLink="/earall" class="me-5 text-black h3"><strong>ต่างหู</strong></a>
      <a routerLink="/ringall" class="me-5 text-black h3"><strong>เเหวน</strong></a>
    </div>
    <div class="">
      <i class="pi pi-shopping-cart m-3" style="font-size: 1.75rem"></i>
      <i class="pi pi-user" style="font-size: 1.5rem"></i>
    </div>
  </div>
</nav>