<nav class="ps-5 pe-5">
  <img class="navanima" style="cursor: pointer; margin-top: 10px;" src="https://cdn.discordapp.com/attachments/1027084491929428009/1035842139357200434/pandra.png" width="200px"
    routerLink="/home">
  <div class="d-flex align-items-center justify-content-between imgnav" style="width: 100%;">
    <div class="m-5">
      <a routerLink="/dayall" class="shadowtxt me-5 h4"><strong>วันเทศกาล</strong></a>
      <a routerLink="/braceletall" class="shadowtxt me-5 h4"><strong>กำไล</strong></a>
      <a routerLink="/neckall" class="shadowtxt me-5 h4"><strong>สร้อยคอ</strong></a>
      <a routerLink="/earall" class="shadowtxt me-5 h4"><strong>ต่างหู</strong></a>
      <a routerLink="/ringall" class="shadowtxt me-5 h4"><strong>เเหวน</strong></a>
    </div>
    <div class="" *ngIf="user | async as user; else login">
      <i class="pi pi-shopping-cart m-3 me-3" style="font-size: 1.75rem" (click)="openCart()"></i>
      <i class="pi pi-user" style="font-size: 1.5rem" (click)="menu.toggle($event)"></i>
      <p-menu #menu [popup]="true" [model]="items" styleClass="mt-2"></p-menu>
    </div>
    <ng-template #login>
      <div>
        <i class="pi pi-shopping-cart m-3 me-3" style="font-size: 1.75rem" (click)="openCart()"></i>
        <i class="pi pi-sign-in" style="font-size: 1.5rem" (click)="tologin()"></i>
      </div>
    </ng-template>
  </div>
</nav>

<p-sidebar [(visible)]="display" [style]="{width:'41em'}" position="right" [transitionOptions]="'300ms'">
  <!-- Content -->
  <div *ngFor="let data of cartList" class="side" style="overflow-x: hidden;">



      <div class="itembox mb-3" style="overflow: hidden;">
        <div class="row">
          <div class="col-5">
            <img style="width: 100%;" [src]="data.product.img1">
          </div>
          <div class="col-7">
            <h2>{{ data.product.name }}</h2>
            <h5>โลหะ: {{ data.product.iron }}  สี: {{ data.product.color }}</h5>
            <h5>ราคา: {{ data.product.price }}</h5>
            <div class="d-flex flex-row mb-4 mt-2">
              <h4 class="me-4 mt-2">จำนวน : {{ data.amount }}</h4>
            </div>
            <div class="d-flex flex-row mt-2">
              <div class="col-5"><h5>รวมราคา : {{ data.product.price*data.amount }}</h5></div>
              <div class="col-5"></div>
              <div class="col-2 pb-5"><button pButton pRipple type="button" icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-outlined " (click)="removeitem(data)"></button>
              </div>
            </div>
          </div>
        </div>
      </div>

    

  </div>
  

  <div class="row" style="overflow-y: hidden;">
    <div class="col p-3"><h4>รวมทั้งหมด :  {{ totalPrice }}</h4></div>
    <div class="col"><div class="butsubmit" (click)="submitbuy()">ยืนยันการสั่งซื้อ</div></div>
  </div>
</p-sidebar>

