<div class="footer">
    <div class="row">
        <div class="col-5" style="margin-top: -20px;">
            <div class="center">
                <br>
                <a target="_blank" href=""><img src="https://cdn.discordapp.com/attachments/1027084491929428009/1035842139357200434/pandra.png"></a>
            </div>
        </div>
        <div class="col-3" style="margin-top: 40px; line-height: 40px;">
            <li>ผลิตภัณฑ์ในเครือของเรา</li>
            <li>ต้องการความช่วยเหลือ?</li>
            <li>นโยบายความเป็นส่วนตัว</li>
            <li>ข้อตกลงและเงื่อนไข</li>
        </div>
        <div class="col-4" style="padding-right: 100px;">
            <div class="center">
                <p>ติดต่อเรา</p>
                <br>
                <div class="row">
                    <div class="col"><i style="font-size: 30px;" class="pi pi-instagram"></i></div>
                    <div class="col"><i style="font-size: 30px;" class="pi pi-facebook"></i></div>
                    <div class="col"><i style="font-size: 30px;" class="pi pi-twitter"></i></div>
                    <div class="col"><i style="font-size: 30px;" class="pi pi-discord"></i></div>
                </div>          
            </div>
        </div>
    </div>
</div>