<div class="footer">
    <div class="row" style="margin-top: 80px;">
        <div class="col">
            <div class="center">
                <p>แหล่งที่มาข้อมูลสินค้า</p>
                <a target="_blank" href="https://cdn.discordapp.com/attachments/1027084491929428009/1034363855343730758/IMG_5111.jpg"><img src="..."></a>
            </div>
        </div>
        <div class="col" style="padding-left: 100px;">
            <div class="center">
                <p>นายนันทนนท์ จินขุนทอง 64070057</p>
                <p>นางสาวอนัญพร จอมคำ 64070114</p>
                <p>นางสาวกรกมล วิชชุธีระกุล 64070121</p>
                <p>นางสาวตรียา เอื้อเจริญศรี 64070151</p>
            </div>
        </div>
    </div>
</div>