<div class="align-items-center">
    <h2>สินค้าที่สั่งซื้อแล้ว</h2>
    <div class="container componentCen d-flex justify-content-center align-items-center">
        <div class="boxBought">
            <div class="row">
                <div class="col p-3">
                    <img class="imgBought center" src="...">
                </div>
                <div class="col pt-4">
                    <p>ชื่อสินค้า</p>
                    <p>ราคาสินค้า</p>
                    <p>สถานะการจัดส่ง</p>
                    <hr>
                    <p>จำนวนที่สั่งซื้อ รวมราคาสินค้า</p>
                </div>
            </div>
        </div>
    </div>
</div>