<div class="container container_log">
    <h1 style="text-align: center;">สร้างบัญชีใหม่</h1>
    <form class="form form_log">
        <input class="input_log" type="text" placeholder="ชื่อผู้ใช้"> <br>
        <input class="input_log" type="text" placeholder="ชื่อ-นามสกุล"> <br>
        <input class="input_log" type="text" placeholder="อีเมล"> <br>
        <input class="input_log" type="text" placeholder="วันเกิด"> <br>
        <input class="input_log" type="text" placeholder="ที่อยู่"> <br>
        <input class="input_log" type="text" placeholder="เบอร์โทร"> <br>
        <a>มีบัญชีผู้ใช้อยู่แล้ว?</a><br>
        <button type="button" class="btn btn-dark btn-lg mt-2">ดำเนินการต่อ</button>
    </form>
</div>