.boxcontent{
    width: 100%;
    height: 500px;
    margin-top: 10px;
    background-color: rgb(194, 194, 194);
}

img {
    width: 100%;
}

.item-boxs:hover {
    cursor: pointer;
}

.gird-display {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}