/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Athiti', sans-serif;
}

body{
    overflow-x: hidden;
}

.subselect{
    color: #747474;
}

.subselect:hover {
    cursor: pointer;
    color: #272727;
}

.buttonadd {
    border: transparent;
    border-radius: 30px;
    padding: 10px 15px 10px 15px;
    background-color: #333;
    color: #ffffff;
    margin: 110px 0 30px 300px;
}

.imgitem {
    background-color: #f6f5f3;
}

.item-boxs{
    border-radius: 10px;
}

.item-boxs:hover {
    box-shadow: 10px 10px 10px rgb(225, 225, 225);
}