/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Athiti', sans-serif;
}

.subselect{
    color: #747474;
}

.subselect:hover {
    cursor: pointer;
    color: #272727;
}